@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  width: min(1000px, 95%);
}

.custom-container2 {
  width: min(1150px, 95%);
}

.slick-prev:before,
.slick-next:before {
  color: gray !important;
}

.slick-slide {
  padding: 0 7px;
  box-sizing: border-box;
}
